//
   Created by lukas on 15.5.1.
    
form.form-horizontal.modal-form.modal-confirmation-form(
    name='markascomplete',
    ng-submit='ok(task)'
)
    fieldset
    
        div.form-group
            label.col-sm-12 Mark {{ task.type }} {{ task.title }} as completed?
            
        div.form-group
            
            div.col-sm-offset-2.col-sm-10.modal-form-buttons
                
                button.btn.btn-danger(
                    type='button',
                    ng-click='cancel()'
                ) Cancel
                
                button.btn.btn-success(
                    type='submit'
                ) Mark as completed
