
form.form-horizontal(
    name='signupform'
    ng-submit='signupform.$valid && signUpUser(newUser)'
    novalidate
)
    fieldset

        legend Sign up

        div.alert.alert-success(
            role='alert',
            ng-if='signUpSuccessful'
        ) Account succesfully created. You can now 
            a.alert-link(href='/signin') sign in

        div.alert.alert-danger(
            role='alert',
            ng-if='signUpFailed'
        ) An error occured, please try again

        div.form-group
            label.col-sm-3.control-label(for='firstname') First name:
            div.col-sm-9
                input#firstname.form-control(
                    type='text'
                    name='firstname'
                    placeholder='Enter first name'
                    ng-model='newUser.firstname'
                    required
                )
                div.error-container(ng-show='signupform.firstname.$dirty || signupform.$submitted')
                    small.error(ng-show='signupform.firstname.$error.required') Your first name is required

        div.form-group
            label.col-sm-3.control-label(for='lastname') Last name:
            div.col-sm-9
                input#lastname.form-control(
                    type='text'
                    name='lastname'
                    placeholder='Enter last name'
                    ng-model='newUser.lastname'
                    required
                )
                div.error-container(ng-show='signupform.lastname.$dirty || signupform.$submitted')
                    small.error(ng-show='signupform.lastname.$error.required') Your last name is required


        div.form-group
            label.col-sm-3.control-label(for='email') Email address:
            div.col-sm-9
                input#email.form-control(
                    type='email'
                    name='email'
                    placeholder='Enter email'
                    ng-model='newUser.email'
                    ensure-unique-email
                    required
                )
                
                div.error-container(ng-show='(signupform.email.$dirty && signupform.email.$invalid) || signupform.$submitted')
                    small.error(ng-show='signupform.email.$error.required') Your email is required
                    small.error(ng-show='signupform.email.$invalid && !signupform.email.$error.required && !signupform.email.$error.emailAvailable') Your email is invalid
                    small.error(ng-show='signupform.email.$error.emailAvailable') Email already exists
                div.success-container(ng-if='signupform.email.$pending || signupform.email.$valid')
                    small.success(ng-show='signupform.email.$pending') Checking email...
                    small.success(ng-show='signupform.email.$valid') Email is available

        div.form-group
            label.col-sm-3.control-label(for='password') Password:
            div.col-sm-9
                input#password.form-control(
                    type='password'
                    name='password'
                    placeholder='Enter password'
                    ng-model='newUser.password'
                    ng-minlength=5
                    ng-maxlength=15
                    required
                )
                div.error-container(ng-show='(signupform.password.$dirty && signupform.password.$invalid) || signupform.$submitted')
                    small.error(ng-show='signupform.password.$error.required') Your password is required
                    small.error(ng-show='signupform.password.$error.minlength || signupform.password.$error.maxlength') Password must be 5 to 15 characters long

        div.form-group
            div.col-sm-offset-3.col-sm-9
                button.btn.btn-primary(
                    type='submit', 
                    onclick='formUtilities.highlightInputs("signupform")'
                ) Create an account