//
   Created by lukas on 15.4.7.
form.form-horizontal(
    name='signinform',
    ng-submit='signinform.$valid && signInUser(user)',
    novalidate
)
    fieldset
        legend Sign in
        
        div.alert.alert-danger(
            role='alert',
            ng-if='signInFailed'
        ) Email or password is incorrect

        div.form-group
            label.col-sm-3.control-label(for='email') Email address:
            div.col-sm-9
                input#email.form-control(
                    type='email'
                    name='email'
                    placeholder='Enter email'
                    ng-model='user.email'
                    required
                )
                div.error-container(ng-show='signinform.email.$dirty || signinform.$submitted')
                    small.error(ng-show='signinform.email.$error.required') Email is required


        div.form-group
            label.col-sm-3.control-label(for='password') Password:
            div.col-sm-9
                input#password.form-control(
                    type='password'
                    name='password'
                    placeholder='Enter password'
                    ng-model='user.password'
                    required
                )
                div.error-container(ng-show='signinform.password.$dirty || signinform.$submitted')
                    small.error(ng-show='signinform.password.$error.required') Password is required

        div.form-group
            div.col-sm-offset-3.col-sm-9
                button.btn.btn-primary(
                    type='submit',
                    onclick='formUtilities.highlightInputs("signinform")'
                ) Sign in
                a.btn.btn-link(href='/signup') Don't have an account? Sign up!
