//
   Created by lukas on 15.4.30.

div

    section.main-task
    
        h2 Subtask:

        div.task.single(
            ng-click='isCollapsed = !isCollapsed'
            style='background-color: {{subtask.color}}; color: {{subtask.textColor}}; border: 1px solid {{(subtask.color.toLowerCase() == "#ffffff") ? "#000000" : subtask.color}}; cursor: {{(subtask.description) ? "pointer" : "auto"}}'
        )

            h1 {{subtask.title}}

            div.progress-container
                div.progress-value {{ subtask.percentageDone }}%
                div.percentage-done(
                    round-progress
                    max="100"
                    current="subtask.percentageDone"
                    color="{{subtask.color}}"
                    bgcolor="{{subtask.textColor}}"
                    radius="45"
                    stroke="20"
                    iterations="50"
                    rounded="true"
                    animation="easeInOutQuart"
                )

            div.task-info

                div.created-by
                    div.task-info-label Created by:
                    a(
                        href='users/{{subtask._createdBy.numberId}}'
                        style='color: {{subtask.textColor}}'
                    ) {{ subtask._createdBy.firstname + ' ' + subtask._createdBy.lastname }}
                    
                div.created-by
                    div.task-info-label Assigned to:
                    a(
                        href='users/{{subtask._assignedTo.numberId}}'
                        style='color: {{subtask.textColor}}'
                    ) {{ subtask._assignedTo.firstname + ' ' + subtask._assignedTo.lastname }}

                div.date-created
                    div.task-info-label  Date created:
                    div.text-right {{ subtask.dateCreated | date : 'yyyy-MM-dd' }}

                div.date-started
                    div.task-info-label  Date started:
                    div.text-right {{ subtask.dateStarted | date : 'yyyy-MM-dd' }}

                div.date-due
                    div.task-info-label  Date due:
                    div.text-right {{ subtask.dateDue | date : 'yyyy-MM-dd' }}

                div.date-completed(ng-if='subtask.status.toLowerCase() === "completed"')
                    div.task-info-label  Date completed:
                    div.text-right {{ subtask.dateCompleted | date : 'yyyy-MM-dd' }}
                        
                div.weight
                    div.task-info-label Weight:
                    div.text-right {{ subtask.weight }}%

                div.status
                    div.task-info-label Status:
                    div.text-right {{ subtask.status }}

                div.quantifiable-info(ng-if='subtask.isQuantifiable')

                    div.progress-status
                        div.task-info-label Progress:
                        div.text-right {{ subtask.current + '/' + subtask.goal }}

                    div.units
                        div.task-info-label Of:
                        div.text-right {{ subtask.units | capitalize}}

                div.auto-complete(ng-if='!(subtask.status.toLowerCase() === "completed")')
                    div.task-info-label Auto complete:
                    div.text-right {{ (subtask.autoComplete) ? "Yes" : "No" }}


            div.task-description(
                ng-if='subtask.description'
                ng-bind-html='subtask.description | sanitize'
                collapse='isCollapsed'
                ng-click='$event.stopPropagation()'
            )

    section.alerts


        div.alert.alert-info(
            role='alert'
            ng-if='modifySubtaskSuccessful'
        ) Your progress was successfully submitted!
            button.close(
                type='button'
                data-dismiss='alert'
                aria-label='close'
            )
                span(aria-hidden='true') &times;
                
        div.alert.alert-success(
            role='alert'
            ng-if='modifySubtaskFailed'
        ) Your progress was successfully submitted!
            button.close(
                type='button'
                data-dismiss='alert'
                aria-label='close'
            )
                span(aria-hidden='true') &times;
    
        div.alert.alert-success(
            role='alert'
            ng-if='makeNewProgressSuccessful'
        ) Your progress was successfully submitted!
            button.close(
                type='button'
                data-dismiss='alert'
                aria-label='close'
            )
                span(aria-hidden='true') &times;
                
        div.alert.alert-danger(
            role='alert'
            ng-if='deleteSubtaskFailed'
        ) Deleting subtask failed, please try again
            button.close(
            type='button'
            data-dismiss='alert'
            aria-label='close'
            )
                span(aria-hidden='true') &times;

        div.alert.alert-danger(
            role='alert'
            ng-if='makeNewProgressFailed'
        ) Submitting new progress failed, please try again
            button.close(
                type='button'
                data-dismiss='alert'
                aria-label='close'
            )
                span(aria-hidden='true') &times;

    section.commands
    
        div#task-commands

            button.btn.btn-primary.left(
                ng-click='openNewProgressModal(subtask)'
                ng-disabled='(subtask.status.toLowerCase() === "completed")'
            ) Submit progress

            button.btn.btn-danger.right(ng-click='openDeleteConfirmationModal(subtask)' ) Delete subtask

            button.btn.btn-warning.right(
                ng-click='openEditSubtaskModal(subtask)'
                ng-disabled='subtask.status.toLowerCase() === "completed"'
            ) Edit subtask

            button.btn.btn-success.right(
                ng-click='openMarkAsCompleteConfirmationModal(subtask)'
                ng-disabled='subtask.status.toLowerCase() === "completed"'
            ) Mark as completed

    section.task-components
        div#accordion.panel-group(
            role='tablist'
            aria-multiselectable='true'
            style='margin-top: 20px'
        )

            div.panel.panel-progress

                div#headingProgress.panel-heading(
                    role='tab'
                    data-toggle='collapse'
                    data-target='#collapseProgress'
                    aria-expanded='true'
                    aria-controls='collapseProgress'
                    style='display: block; width: 100%;'
                )
                    h3 Progress

                div#collapseProgress.panel-collapse.collapse(
                    role="tabpanel"
                    aria-labelledby="headingProgress"
                )
                    div.panel-body

                        span(ng-if='subtask._progress.length == 0') You made no progress
                        div.progress(
                            ng-init='isProgressCollapsed[$index] = false'
                            ng-repeat='progress in subtask._progress'
                            ng-click='isProgressCollapsed[$index] = !isProgressCollapsed[$index]'
                            ng-style='{"background-color": progress.color, "color": progress.textColor, "border": "1px solid" + (progress.color.toLowerCase() == "#ffffff") ? "#000000" : task.color}'
                        )
                            div.date-commited
                                h3 {{progress.date | date: 'yyyy-MM-dd'}}

                            div.progress-value {{(subtask.isQuantifiable) ? progress.current + ' ' + subtask.units : progress.percentageDone + '%'}}

                            div.progress-info
                                div.made-by
                                    div.progress-info-label Made by: 
                                    div.text-left
                                        a(
                                            href='users/{{progress._madeBy.numberId}}'
                                            ng-style='{"color": progress.textColor}'
                                        ) {{ progress._madeBy.firstname + ' ' + progress._madeBy.lastname }}

                            div.progress-description(
                                ng-if='progress.description'
                                ng-bind-html='progress.description | sanitize'
                                collapse='isProgressCollapsed[$index]'
                                ng-click='$event.stopPropagation()'
                            )

            div.panel.panel-log
            
                div#headingLog.panel-heading(
                    role='tab'
                    data-toggle='collapse'
                    data-target='#collapseLog'
                    aria-expanded='true'
                    aria-controls='collapseLog'
                    style='display: block; width: 100%;'
                )
                    h3 Log
            
                div#collapseLog.panel-collapse.collapse.in(
                    role="tabpanel"
                    aria-labelledby="headingLog"
                )
                    div.panel-body
                        table.table.table-condensed.table-striped.table-hover
                            thead
                                tr
                                    th Timestamp
                                    th Info
                            tbody(ng-repeat='log in subtask.logs')
                                tr
                                    td.date {{ log.date | date : 'yyyy-MM-dd HH:mm:ss' }}
                                    td.log-info(
                                        ng-bind-html='log.info | sanitize'
                                        style="width: 80%"
                                    )