//
   Created by lukas on 15.4.23.

form.form-horizontal.modal-form(
    name='newtaskform',
    ng-submit='newtaskform.$valid && ok(task)',
    novalidate
)
    fieldset
        legend {{((!editMode) ? "Create new" : "Edit") + " task"}}
        
        input#mode(
            ng-if='editMode'
            type='hidden'
            value='edit'
        )
        
        div.form-group
            label.col-sm-3.control-label(for='title') Title:
            div.col-sm-9
                input#title.form-control(
                    type='text'
                    name='title'
                    placeholder='Enter title'
                    ng-model='task.title'
                    required
                )
                div.error-container(ng-show='newtaskform.title.$dirty || newtaskform.$submitted')
                    small.error(ng-show='newtaskform.title.$error.required') Title is required
        
        div.form-group
            label.col-sm-3.control-label(for='dateStarted') Date started:
            div.col-sm-9
                div#date-started.input-group
                    input.form-control.date(
                        datetimepicker
                        type='text'
                        name='dateStarted'
                        placeholder='Date started'
                        ng-model='task.dateStarted'
                        required
                        datetimepicker-options='{{dateStartedPickerOptions}}'
                    )
                    span.input-group-addon
                        span.glyphicon.glyphicon-calendar
                div.error-container(ng-show='newtaskform.dateStarted.$dirty || newtaskform.$submitted')
                    small.error(ng-show='newtaskform.dateStarted.$error.required') Date started is required
       
        div.form-group
            label.col-sm-3.control-label(for='dateDue') Date due:
            div.col-sm-9
                div#date-due.input-group
                    input.form-control.date(
                        datetimepicker
                        type='text'
                        name='dateDue'
                        placeholder='Date due'
                        ng-model='task.dateDue'
                        required
                        datetimepicker-options='{{dateDuePickerOptions}}'
                    )
                    span.input-group-addon
                        span.glyphicon.glyphicon-calendar
                div.error-container(ng-show='newtaskform.dateDue.$dirty || newtaskform.$submitted')
                    small.error(ng-show='newtaskform.dateDue.$error.required') Date due is required
        
        div.row
            
            label.col-xs-3.control-label(for='isQuantifiable') Is quantifiable:
            div.col-xs-1
                div.checkbox
                    label
                        input#is-quantifiable(
                            type='checkbox'
                            name='isQuantifiable'
                            ng-model='task.isQuantifiable'
                            ng-disabled='editMode'
                        )
                        
            label.col-xs-1.control-label(for='goal') Goal:
            div.col-xs-3.form-group
                input#goal.form-control(
                    type='number'
                    name='goal'
                    placeholder='Enter goal'
                    ng-model='task.goal'
                    ng-disabled='!task.isQuantifiable || editMode'
                    ng-required='task.isQuantifiable'
                    min='1'
                    step='1'
                    ng-pattern=/^\d+$/
                )
                div.error-container(ng-show='newtaskform.goal.$dirty || newtaskform.$submitted')
                    small.error(ng-show='newtaskform.goal.$error.required') Goal is required
                
            label.col-xs-1.control-label(for='units') of:
            div.col-xs-3.form-group
                input#units.form-control(
                    type='text'
                    name='units'
                    placeholder='Enter units'
                    ng-model='task.units'
                    ng-disabled='!task.isQuantifiable || editMode'
                    ng-required='task.isQuantifiable'
                )
                div.error-container(ng-show='newstaskform.units.$dirty || newtaskform.$submitted')
                    small.error(ng-show='newtaskform.units.$error.required') Units are required

        div.form-group
            label.col-sm-3.control-label(for='color') Color:
            div.col-sm-9
                div
                    input#color.form-control(
                        type='hidden'
                        name='color'
                        ng-model='task.color'
                        minicolors
                    )
        
        div.form-group
            label.col-sm-3.control-label(for='textColor') Text color:
            div.col-sm-9
                div
                    input#textColor.form-control(
                        type='hidden'
                        name='textColor'
                        ng-model='task.textColor'
                        minicolors
                    )
                    
        div.form-group
            label.col-sm-3.control-label(for='autoComplete') Auto complete:
            div.col-sm-1
                div.checkbox
                    label
                        input#is-quantifiable(
                            type='checkbox'
                            name='autoComplete'
                            ng-model='task.autoComplete'
                            ng-disabled='editMode'
                            checked
                        )
       
        div.form-group
            label.col-sm-3.control-label(for='description') Description:
            div.col-sm-12
                div.description(
                    text-angular
                    ng-model='task.description'
                    placeholder='Enter description'
                )
       
        div.form-group
            div.col-sm-offset-8.col-sm-4.modal-form-buttons
                button.btn.btn-danger(
                    type='button',
                    ng-click='cancel()'
                ) Cancel
                button.btn.btn-primary(
                    type='submit',
                    onclick='formUtilities.highlightInputs("newtaskform")',
                    ng-if='!editMode'
                 ) Create task
                 button.btn.btn-warning(
                     type='submit',
                     onclick='formUtilities.highlightInputs("newtaskform")',
                     ng-if='editMode'
                 ) Edit task
                
script(type='text/javascript').
    $(function () {

        var dateStartedInputControl = $('#date-started input');
        var dateDueInputControl = $('#date-due input');

        $('span.input-group-addon').click(function(){
            $(this).siblings('input').data('DateTimePicker').toggle();
        });
        
        dateStartedInputControl.on('dp.change', function (e) {
            if ($('#mode').val() !== 'edit') {
                dateDueInputControl.data('DateTimePicker').minDate(e.date);
            }
        });

        dateDueInputControl.on('dp.change', function (e) {
            if ($('#mode').val() !== 'edit') {
                dateStartedInputControl.data('DateTimePicker').maxDate(e.date);
            }
        });

    });