extends layout

block content
    div#header
        nav.navbar.navbar-default.navbar-static-top
            div.container
                
                div.navbar-header
                    
                    button.navbar-toggle.collapsed(
                        type='button'
                        data-toggle='collapse'
                        data-target='#navbar'
                    )
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                        
                    a.navbar-brand Progress tracker
                    
                div#navbar.navbar-collapse.collapse
                    
                    ul.nav.navbar-nav(ng-init='selectedTab = "tasks"')
                        
                        li(
                            ng-if='!session'
                            ng-class="{'active' : selectedTab === 'signIn'}"
                            ng-click="selectedTab = 'signIn'"
                        )
                            a.page-link(href='/signin') Sign in
                            
                        li(
                            ng-if='!session'
                            ng-class="{'active' : selectedTab === 'signUp'}"
                            ng-click="selectedTab = 'signUp'"
                        )
                            a.page-link(href='/signup') Sign up
                            
                        li.active(
                            ng-if='session'
                            ng-class="(selectedTab === 'tasks') ? {'active' : '1'} : {'active' : '0'}"
                            ng-click="selectedTab = 'tasks'"
                        )
                            a.page-link(href='/tasks') My tasks
                            
                        li(
                            ng-if='session'
                            ng-class="{'active' : selectedTab === 'groups'}"
                            ng-click="selectedTab = 'groups'"
                        )
                            a.page-link(href='/groups') My groups
                            
                        li(
                            ng-class="{'active' : selectedTab === 'about'}"
                            ng-click="selectedTab = 'about'"
                        )
                            a.page-link(href='/about') About project
                            
                    ul.nav.navbar-nav.navbar-right(ng-if='session')
                        li.dropdown
                        
                            a.dropdown-toggle(
                                href='#'
                                data-toggle='dropdown'
                                role='button'
                                aria-expanded='false'
                            )
                                | {{session.firstname + ' ' + session.lastname}}  
                                span.caret
                                
                            ul.dropdown-menu(role='menu')
                                li
                                    a.page-link(href='{"/users" + session.numberId}') My settings
                                li.divider
                                li
                                    a.page-link(
                                        href='#'
                                        role='button'
                                        ng-click='signOutUser()'
                                    ) Logout
                                    
                                
                                
                
        //div.content
        //    nav
        //        a.page-link(href='/tasks') My tasks
        //        a.page-link(href='/groups') My groups
        //        a.page-link(href='/user') My settings
        //        a.page-link(
        //            ng-click='signOutUser()'
        //            ng-if='session'
        //            style='float: right; margin-right: 0px'
        //        ) Logout
        //        div.user(
        //            style='float: right'
        //            ng-if='session'
        //        )
        //            | Logged in as: {{session.firstname + ' ' + session.lastname}}
                    
                    
        
    div.container(ng-view)