extends layout

block content
    form.form-horizontal(
        name='login'
        ng-controller='GatewayFormController as loginCtrl'
        ng-submit='login.$valid && loginCtrl.loginUser(user)'
        novalidate
    )
        fieldset
            legend Sign in

            div.form-group
                label.col-sm-3.control-label(for='email') Email address:
                div.col-sm-9
                    input#email.form-control(
                        type='email'
                        name='email'
                        placeholder='Enter email'
                        ng-model='user.email'
                        required
                    )
                    div.error-container(ng-show='login.email.$dirty || login.$submitted')
                        small.error(ng-show='login.email.$error.required') Please enter email


            div.form-group
                label.col-sm-3.control-label(for='password') Password:
                div.col-sm-9
                    input#password.form-control(
                        type='password'
                        name='password'
                        placeholder='Enter password'
                        ng-model='user.password'
                        required
                    )
                    div.error-container(ng-show='login.password.$dirty || login.$submitted')
                        small.error(ng-show='login.password.$error.required') Your first name is required

            div.form-group
                div.col-sm-offset-3.col-sm-9
                    div.checkbox
                        label
                            input(type='checkbox')
                            | Remember me

            div.form-group
                div.col-sm-offset-3.col-sm-9
                    button.btn.btn-primary(type='submit') Sign in
                    a.btn.btn-link(href='/signup') Don't have an account? Sign up!

