extends layout

block content
    form.form-horizontal(
        name='signup'
        ng-controller='GatewayFormController as signupCtrl'
        ng-submit='signup.$valid && signupCtrl.createUser(newUser)'
        novalidate
    )
        fieldset
            legend Sign up

            div.form-group
                label.col-sm-3.control-label(for='firstname') First name:
                div.col-sm-9
                    input#firstname.form-control(
                        type='text'
                        name='firstname'
                        placeholder='Enter first name'
                        ng-model='newUser.firstname'
                        required
                    )
                    div.error-container(ng-show='signup.firstname.$dirty || signup.$submitted')
                        small.error(ng-show='signup.firstname.$error.required') Your first name is required

            div.form-group
                label.col-sm-3.control-label(for='lastname') Last name:
                div.col-sm-9
                    input#lastname.form-control(
                        type='text'
                        name='lastname'
                        placeholder='Enter last name'
                        ng-model='newUser.lastname'
                        required
                    )
                    div.error-container(ng-show='signup.lastname.$dirty || signup.$submitted')
                        small.error(ng-show='signup.lastname.$error.required') Your last name is required


            div.form-group
                label.col-sm-3.control-label(for='email') Email address:
                div.col-sm-9
                    input#email.form-control(
                        type='email'
                        name='email'
                        placeholder='Enter email'
                        ng-model='newUser.email'
                        ng-model-options="{ debounce : { 'default' : 600 } }"
                        ensure-unique-email
                        required
                    )
                    div.error-container(ng-show='(signup.email.$dirty && signup.email.$invalid) || signup.$submitted')
                        small.error(ng-show='signup.email.$error.required') Your email is required
                        small.error(ng-show='signup.email.$invalid && !signup.email.$error.required && !signup.email.$error.emailAvailable') Your email is invalid
                        small.error(ng-show='signup.email.$error.emailAvailable') Email already exists
                    div.success-container(ng-show='signup.email.$pending || signup.email.$valid')
                        small.success(ng-show='signup.email.$pending') Checking email...
                        small.success(ng-show='signup.email.$valid') Email is available


            div.form-group
                label.col-sm-3.control-label(for='password') Password:
                div.col-sm-9
                    input#password.form-control(
                        type='password'
                        name='password'
                        placeholder='Enter password'
                        ng-model='newUser.password'
                        ng-minlength=5
                        ng-maxlength=15
                        required
                    )
                    div.error-container(ng-show='(signup.password.$dirty && signup.password.$invalid) || signup.$submitted')
                        small.error(ng-show='signup.password.$error.required') Your password is required
                        small.error(ng-show='signup.password.$error.minlength || signup.password.$error.maxlength') Password must be 5 to 15 characters long


            div.form-group
                div.col-sm-offset-3.col-sm-9
                    button.btn.btn-primary(type='submit', ng-click='signupCtrl.highlightInputs()') Create an account

