extends layout

block content
    form.form-horizontal(
        name='signup-form'
        ng-controller='SignUpFormController as signupCtrl'
        ng-submit='signup-form.$valid && signupCtrl.createUser()'
        novalidate
    )
        fieldset
            legend Sign up

            div.form-group
                label.col-sm-3.control-label(for='firstname') First name:
                div.col-sm-9
                    input#firstname.form-control(
                        type='text'
                        placeholder='Enter first name'
                        ng-model='signupCtrl.newUser.firstname'
                        required
                    )
                    div.error-container(ng-show='signup-form.firstname.$dirty && signup-form.firstname.$invalid && signup-form.submitted')
                        small.error

            div.form-group
                label.col-sm-3.control-label(for='lastname') Last name:
                div.col-sm-9
                    input#lastname.form-control(
                        type='text'
                        placeholder='Enter last name'
                        ng-model='signupCtrl.newUser.lastname'
                        required
                    )
                    div.error-container(ng-show='signup-form.lastname.$dirty && signup-form.lastname.$invalid && signup-form.submitted')
                        small.error


            div.form-group
                label.col-sm-3.control-label(for='email') Email address:
                div.col-sm-9
                    input#email.form-control(
                        type='email'
                        placeholder='Enter email'
                        ng-model='signupCtrl.newUser.email'
                        ng-model-options='{ updateOn: "mousedown blur" }'
                        ensure-unique='email'
                        required
                    )
                    div.error-container(ng-show='signup-form.email.$dirty && signup-form.email.$invalid && signup-form.submitted')
                        small.error

            div.form-group
                label.col-sm-3.control-label(for='password') Password:
                div.col-sm-9
                    input#password.form-control(
                        type='password'
                        placeholder='Enter password'
                        ng-model='signupCtrl.newUser.password'
                        ng-minlength=5
                        ng-maxlength=15
                    )
                    div.error-container(ng-show='signup-form.password.$dirty && signup-form.password.$invalid && signup-form.submitted')
                        small.error


            div.form-group
                div.col-sm-offset-3.col-sm-9
                    button.btn.btn-primary(type='submit') Create an account

